<form action="/movie/edit/{{movie._id}}" method="post" class="container mt-1">
  <h2 class="mb-4">Edit Movie</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{movie.name}}" required />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description" value="{{movie.description}}" required />
      </div>
      <div class="form-group">
        <label for="director">Director:</label>
        <input type="text" class="form-control" id="director" name="director" value="{{movie.director}}" required />
      </div>
      <div class="form-group">
        <label for="actors">Actors:</label>
        <input type="text" class="form-control" id="actors" name="actors" value="{{movie.actors}}" required />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="releaseDate">Release Date:</label>
        <input type="date" class="form-control" id="releaseDate" name="releaseDate" value="{{movie.releaseDate}}" required />
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="text" class="form-control" id="duration" name="duration" value="{{movie.duration}}" required />
      </div>
      <div class="form-group">
        <label for="trailerURL">Trailer URL:</label>
        <input type="url" class="form-control" id="trailerURL" name="trailerURL" value="{{movie.trailerURL}}" required placeholder="Enter video URL (e.g., YouTube)" />
        <small class="form-text text-muted">Please enter a valid video URL (e.g., from YouTube).</small>
      </div>
      <div class="form-group">
        <label for="language">Language:</label>
        <input type="text" class="form-control" id="language" name="language" value="{{movie.language}}" required />
      </div>
      <div class="form-group">
        <label for="categories">Categories:</label><br>
        <select id="categories" name="categories" multiple required class="form-control">
          {{#each category}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select><br><br>
      </div>

      <div class="form-group">
        <label for="image">Image URL:</label>
        <input type="text" class="form-control" id="image" name="image" value="{{movie.image}}" required />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Edit Movie</button>
</form>
